<div class="row card">
  <div class="col-md">
    <%= link_to gravatar_for(current_user, size: 25), current_user %>
  </div>
  <div class="col-md-5 comment-section">
    <div>
      <h5 class="card-subtitle mb-2 strong"><b>Hena Fufa</b></h5>
      <h6 class="card-subtitle mb-2 text-muted">10 hrs</h6>
    </div class="content">
    <div>
      <p>Some quick example quick example</p>
      <p>Some quick example text.</p>
      <p>Some quick example text quick example</p>
    </div>
  </div>
</div>



