<% provide(:title, 'All users') %>

<%= will_paginate %>
    <% if @is_on_search %>
        <h3 class="center"> Search results...</h3>
        <% if !@users.any? %>
            <h3 class="center">user not found!</h3>
        <% else %>
        <ul class="users">
            <%= render @users %>
        </ul>
        <% end %>
    <% else%>
        <h3 class="center">All users</h3>
        <ul class="users">
            <%= render @users %>
        </ul>
    <% end %>
    
<%= will_paginate %>