<% provide(:title, 'All users') %>

<%= will_paginate %>
    <% if @is_on_search %>
        <h1> Search results...</h1>
        <% if !@users.any? %>
            <h1>user not found!</h1>
        <% else %>
        <ul class="users">
            <%= render @users %>
        </ul>
        <% end %>
    <% else%>
        <h1>All users</h1>
        <ul class="users">
            <%= render @users %>
        </ul>
    <% end %>
    
<%= will_paginate %>