<% provide(:title, "Start Challenge") %>
<%= form_with(local: true, method: :get, url: activities_path) do |f| %>
    <div style="margin-top:40px;"></div>
    <%= f.button " Activities", class: "btn createAccount", style: "width:100px" %>
<% end %>
       
  

