<div class="activityFeed">
    <% @activities.each do |activity| %> 
        <br>
        <div class="container calender">
            <div class="card ">
              <div class="front">
                <div class="">
                    <%= link_to activity.owner.name, activity.owner if activity.owner%> 
                    <%= render_activity activity%>
                </div>
              </div>
              
            </div>
          </div>
    <% end %> 
</div>