<%= render 'shared/search_activity_form'%>
<div class="activityFeed">
    <% @activities.each do |activity| %> 
        <br>
        <%= link_to activity.owner.name, activity.owner if activity.owner%> 
                    <%= render_activity activity%>
        <!-- <div class="container calender">
            <div class="card ">
              <div class="front">
                <div class="">
                    
                </div>
              </div>
              
            </div>
          </div> -->
    <% end %> 
</div>